<article class="article item pb-4">
    <img style="width: 100%; height: auto;" src="{{ asset(post.img) }}">
        <h3 class="text-center">
            {% filter upper %}
                {{- post.title -}}
            {% endfilter %}
        </h3>
    <p class="lead">{{- post.text|description(post.text) -}}</p>
    <span class="published float-right text-secondary">{{ post.published_at|date("d/m/Y") }}</span>
    <a href="{{- path('article', {slug: post.slug}) -}}" class="btn btn-secondary btn-sm active" role="button"> Read more</a>
</article>
