{% extends 'base.html.twig' %}
{% block title %} {{ post.title }} {% endblock %}
{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('blog') }}">Blog</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
        </ol>
    </nav>

    <div class="row pb-4 align-items-center">
        <div class="col-md-5">
            <img style="width: 100%; height: auto;" src="{{ asset(post.img) }}">
        </div>
        <div class="col-md-7">
            <h1 class="text-center pb-4"> {{ post.title }} </h1>
            <p> {{ post.text }} </p>
        </div>
    </div>

    <h3 class="text-center pb-5">Related articles</h3>

    {% if relatedArticles %}
        <div class="related-articles">
            <div class="row">
                {% for key,article in relatedArticles %}
                    <div class="col-md-4">
                        {{ render(url('item', { slug: key })) }}
                    </div>
                    {% if loop.index % 3 == 0 %}
                        <div class="w-100"></div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}
